name: Basic CI

on:
  push:
    branches: [ main ]

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
      - name: Print
        run: echo "Hello from Basic CI pipeline"
            
